# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# Environment
.env
.env.*
venv/
venv*/
.venv/
ENV/
env/
.build/

# Logs
*.log
logs/

# macOS/Windows
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Local settings
local_settings.py

# Bytecode
*.pyc

# Secrets
secrets.toml

# Misc
*.swp

# End of .gitignore
